* { box-sizing: border-box; }

html {
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body { margin: 0; }

button,
input { font: inherit; }
